*,*::before,*::after{
  box-sizing: border-box;
}
.calculator-grid{
  display: grid;
  margin-top:2rem;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5,6rem);
}
.span-two{
  grid-column: span 2;
}
.output{
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  background-color: rgba(0,0,0,.75);
  padding: .75rem;
  word-wrap: break-word;
  word-break:break-all ;
}
.output .previous-operand{
  color: rgb(153, 153, 153);
}
.calculator-grid > button{
  cursor: pointer;
  border: 1px solid #000;
}